body {
    background: url(https://8000-rose-quelea-f1ohvyhk.ws-eu23.gitpod.io/assets/images/candycanes.jpg);
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center center;
}

.cards {
    padding-top: 15px;
    padding-bottom: 15px;
}